<main id="product" class="bg-blueGray-800">
  <section class="w-full h-full mx-auto pt-20 container" style="min-height:75vh">
    <div class="w-full mt-16 text-gray-800 leading-normal">
      <div class="w-full px-4 ml-auto mr-auto text-center" >
        <h1 class="text-white font-semibold text-5xl">
          <%= I18n.t('web.product.your_products')  %>
        </h1>
      </div>
      <div class="container flex items-start flex-wrap  p-6 mt-16" >
        <a class="btn-secondary btn-small" href="<%= new_product_path %>" role="button">
          <i class="text-white fas fa-plus-circle"></i>
          <%= I18n.t('web.product.new')  %>
        </a>
      </div>
      <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
        <% if @products.present? %>
          <% for product in @products do %>
            <div class="w-full h-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
              <div class="relative pb-96">
                <% if product.image.attached? %>
                  <img class="absolute object-cover w-full h-full" src="<%= url_for(product.image) %>">
                <% end %>
              </div>
              <div>
                <div class="pt-3 flex items-center justify-between">
                  <p class="text-white"><%= product.name %></p>
                  <div  class="flex" >
                    <div class="flex items-center mr-4" title="<%=  product.price_in_diamonds %> <%= I18n.t('web.product.diamonds') %>" >
                      <i class="text-pink-600 far fa-gem mr-1"></i>
                      <p class="text-white"><%= product.price_in_diamonds %></p>
                    </div>
                    <%= link_to  edit_product_path(product), title: I18n.t('web.product.edit'), class: "mr-4" do %>
                      <i class="text-white fas fa-edit"></i>
                    <% end %>
                    <%= button_to  product_path(product),
                                method: :delete,
                                data: {confirm: I18n.t('web.product.actions.destroy.confirm')},
                                title: I18n.t('web.product.delete') do %>
                      <i class="text-white fas fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
                <div class="pt-2 flex items-center" >
                  <p class="text-white h-30 overflow-y-auto"><%= product.short_description %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1 class="text-white text-lg text-center w-full">
            <%= I18n.t('web.product.no_products')  %>
          </h1>
        <% end %>
      </div>
    </div>
  </section>
</main>
